@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  color: white;
}

:root {
  background-color: #1b1b1b;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d4d4d;
}
